.Rproj.user
.Rhistory
.RData
.Ruserdata
api/app/db/password.txt
.vscode/settings.json
data_loaders/api_pass.txt

# Docker production
docker-compose.production.yaml
Dockerfile.*
nginx.conf

/nginx-proxy-manager
/mysql-data