ENVIRONMENT=local

# Database
DB_HOST=
DB_PORT=
DB_DATABASE=

# DB user
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=

# CFB db
CFB_DB_HOST=
CFB_DB_PORT=
CFB_DB_DATABASE=

# Secret keys used for encryption within the application. Can be any value.
SECRET_KEY=
JWT_SECRET_KEY=